flask==3.0.0
requests==2.32.3
python-dotenv>=1.0.1
flask-cors==4.0.0
f2
aiofiles
aiosqlite
click
emoji
fastapi
fastmcp
gevent>=24.2.1
httpx[socks]
lxml==6.0.2
pyperclip==1.11.0
pyyaml
rookiepy==0.5.6
textual
gunicorn>=21.2.0
uvicorn